.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;

    margin: 3vmin;

    border-radius: 2vmin;
}


.Home-title {
    border-radius: 3px;
    height: 4vmin;
    background-color: rgb(44, 114, 219);
    width: 100%;
}

.Home-title-trimmer {
    position: relative;
    top: 3.5vmin;
    width: 100%;
    height: 0.5vmin;
    background-color: white;
}

.Home-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

.Home-DraggedTaskCard {
    position: absolute;
}